.App {
  text-align: left;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px 80px;
}

.App-link {
  color: #09d3ac;
}

.Tag-line {
  font-size: 120px;
  width: 50%;
  font-weight: bolder;
  margin-bottom: 0px;
}

.Sub-title {
  font-size: 24px;
  width: 25%;
  font-weight: lighter;
  margin-top: 0px;
}

.Button {
  padding: 20px 20px;
  color: white;
  border-radius: 5px;
}

.Button > a {
  color: #282c34;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.icon-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 80px;
}

.icon-individual {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
  align-content: flex-start;
  padding: 40px;
}
